<section class="about-section">
    <div class="about-container container">
        <label for="about_title" class="about-title-label">tradition and love</label>
        <h2 name="about_title" id="about_title" class="about-title">how it’s made?</h2>
        <img class="about-img" srcset="../src/images/milka-480.png 1x, ../src/images/milka-480@2x.png 2x"
            src="../src/images/milka-480.png" alt="Милка и молоко" />
        <p class="about-text-1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
        <p class="about-text-2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            <br>tincidunt.<br>
            <br>
            Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about-btn">Read more
            <svg class="about-btn-icon">
                <use href="../src/images/icons.svg#ivector"></use>
            </svg>
        </button>
    </div>
</section>