  <section class="about-advantages container">
    <h2 hidden>Advantages</h2>
    <ul class="advantages">
      <li class="advantages__list">
        <h3 class="advantages__itan advantages__icon-721" >721</h3>
        <p class="advanteges__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
    <ul>
      <li class="advantages__list">
        <h3 class="advantages__itan advantages__icon-16kg">16kg</h3>
        <p class="advanteges__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
    <ul>
      <li class="advantages__list">
        <h3 class="advantages__itan advantages__icon-84">84</h3>
        <p class="advanteges__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </section>
