<section class="about-advantages" id='howmade'>
  <div class="container">
    <h2 class="visually__hidden">Advantages</h2>
    <ul class="advantages">
      <li class="advantages__list">
        <p class="advantages__itan advantages__icon-721" >721</p>
        <p class="advanteges__text">liters of milk are consumed monthly for the production</p>
      </li>
      <li class="advantages__list">
        <p class="advantages__itan advantages__icon-16kg">16kg</p>
        <p class="advanteges__text">of fruits are used daily for milkshakes and ice cream.</p>
      </li>
      <li class="advantages__list">
        <p class="advantages__itan advantages__icon-84">84</p>
        <p class="advanteges__text">flavors of ice cream are offered in our shops and cafes</p>
      </li>
    </ul>
  </div>
</section>
