<div class="about-advantages">
  <div class="contaner">
    <ul class="advantages">
      <li class="advantages__list">
        <picture>
          <source 
            srcset="/images/icon-bucket-of-milk-480.png 1x, /images/icon-bucket-of-milk-480@2x.png 2x">
          <img class="advantages__img" src="/images/icon-bucket-of-milk-480.png" alt="milkshake">
        </picture>
        <h3 class="advantages__itan">721</h3>
        <p class="advanteges__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
    <ul>
      <li class="advantages__list">
        <picture>
          <source 
            srcset="/images/icon-buсket-of-apples-480.png 1x, /images/icon-buсket-of-apples-480@2x.png 2x">
          <img class="advantages__img" src="/images/icon-buсket-of-apples-480.png" alt="ice-cream in a cup">
        </picture>
        <h3 class="advantages__itan">16kg</h3>
        <p class="advanteges__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
    <ul>
      <li class="advantages__list">
        <picture>
          <source 
            srcset="/images/icon-ice-cream-480.png 1x, /images/icon-ice-cream-480@2x.png 2x">
          <img class="advantages__img" src="/images/icon-ice-cream-480.png" alt="ice lolly">
        </picture>
        <h3 class="advantages__itan">84</h3>
        <p class="advanteges__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</div>