<section class="contacts-section">
    <h2 class="contacts-title" id="contacts">Contacts</h2>
    <ul class="contacts">
        <li class="contacts-item">
            <!-- див оборачивает всю карточку -->
            <div class="contacts-box">
                <h3 class="contacts-box__title">CAFE</h3>
                <h4 class="contacts-header__city">New York</h4>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <!-- время работы -->
                <ul class="contacts-timetable">
                    <li>
                        <h4 class="contacts-header">Monday - Friday</h4>
                        <p class="contacts-header__text"><time>06:00 AM - 10:00 PM</time></p>
                    </li>
                    <li>
                        <h4 class="contacts-header">Saturday - Sunday</h4>
                        <p class="contacts-header__text"><time>08:00 AM - 16:00 PM</time></p>
                    </li>
                </ul>

                <!--Наши контакты -->

                <ul>
                    <li>
                        <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__link" href="mailto: noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        <li class="contacts-item">
            <!-- див оборачивает всю карточку -->
            <div class="contacts-box">
                <h3 class="contacts-box__title">FOODTRUCK</h3>
                <h4 class="contacts-header__city">Los Angeles</h4>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <!-- время работы -->
                <ul class="contacts-timetable">
                    <li>
                        <h4 class="contacts-header">Monday - Friday</h4>
                        <p class="contacts-header__text"><time>06:00 AM - 10:00 PM</time></p>
                    </li>
                    <li>
                        <h4 class="contacts-header">Saturday - Sunday</h4>
                        <p class="contacts-header__text"><time>08:00 AM - 16:00 PM</time></p>
                    </li>
                </ul>

                <!--Наши контакты -->

                <ul>
                    <li>
                        <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__link" href="mailto: noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="contacts-item">
            <!-- див оборачивает всю карточку -->
            <div class="contacts-box">
                <h3 class="contacts-box__title">CAFE</h3>
                <h4 class="contacts-header__city">Chicago</h4>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <!-- время работы -->
                <ul class="contacts-timetable">
                    <li>
                        <h4 class="contacts-header">Monday - Friday</h4>
                        <p class="contacts-header__text"><time>06:00 AM - 10:00 PM</time></p>
                    </li>
                    <li>
                        <h4 class="contacts-header">Saturday - Sunday</h4>
                        <p class="contacts-header__text"><time>08:00 AM - 16:00 PM</time></p>
                    </li>
                </ul>

                <!--Наши контакты -->

                <ul>
                    <li>
                        <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts__link" href="mailto: noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        </li>
        </li>
    </ul>
</section>