<section>
  <h2 class="visually__hidden">Customer Reviews</h2>

  <article class="customer">
    <img
      class="customer__foto"
      srcset="./images/testimonials1-480.png 1x, ./images/testimonials1-480@2x.png 2x"
      src="./images/testimonials1-480.png"
      alt="Emily"
    />
    <div class="customer__bactext">
      <p class="customer__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <h3 class="customer__address">Emily, Los Angeles</h3>
    <ul class="marker__list list">
      <li class="marker__item">
        <a href="" class="marker__link link">
          <svg class="marker__icon">
            <use href="./images/symbol-defs.svg#icon-Vector"></use>
          </svg>
        </a>
      </li>
      <li class="marker__item">
        <a href="" class="marker__link link">
          <svg class="marker__icon">
            <use href="./images/symbol-defs.svg#icon-Ellipse-7"></use>
          </svg>
        </a>
      </li>
      <li class="marker__item">
        <a href="" class="marker__link link">
          <svg class="marker__icon">
            <use href="./images/symbol-defs.svg#icon-Ellipse-7"></use>
          </svg>
        </a>
      </li>
    </ul>
  </article>
</section>
