<section class="swiper reviews__slider">
  <h2 class="visually__hidden">Customer Reviews</h2>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide swiper__slide1">
      <article class="customer swiper-slide swiper__slide1">
        <img
          class="customer__foto"
          srcset="./images/testimonials4-480.png 1x, ./images/testimonials4-480@2x.png 2x"
          src="./images/testimonials4-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Monica, Los Angeles</h3>
      </article>
    </div>
    <div class="swiper-slide swiper__slide2">
      <article class="customer swiper-slide swiper__slide2">
        <img
          class="customer__foto"
          srcset="./images/testimonials5-480.png 1x, ./images/testimonials5-480@2x.png 2x"
          src="./images/testimonials5-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Rachel, Chicago</h3>
      </article>
    </div>
    <div class="swiper-slide swiper__slide3">
      <article class="customer swiper-slide swiper__slide3">
        <img
          class="customer__foto"
          srcset="./images/testimonials3-480.png 1x, ./images/testimonials3-480@2x.png 2x"
          src="./images/testimonials3-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Chandler, New York</h3>
      </article>
    </div>
    <div class="swiper-slide swiper__slide4">
      <article class="customer swiper-slide swiper__slide4">
        <img
          class="customer__foto"
          srcset="./images/testimonials1-480.png 1x, ./images/testimonials1-480@2x.png 2x"
          src="./images/testimonials1-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Ross, Portland</h3>
      </article>
    </div>
    <div class="swiper-slide swiper__slide5">
      <article class="customer swiper-slide swiper__slide5">
        <img
          class="customer__foto"
          srcset="./images/testimonials2-480.png 1x, ./images/testimonials2-480@2x.png 2x"
          src="./images/testimonials2-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Joey, San Antonio</h3>
      </article>
    </div>
    <div class="swiper-slide swiper__slide6">
      <article class="customer swiper-slide swiper__slide6">
        <img
          class="customer__foto"
          srcset="./images/testimonials6-480.png 1x, ./images/testimonials6-480@2x.png 2x"
          src="./images/testimonials6-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Jack, San Diego</h3>
      </article>
    </div>
    <div class="swiper-slide swiper__slide7">
      <article class="customer swiper-slide swiper__slide7">
        <img
          class="customer__foto"
          srcset="./images/testimonials7-480.png 1x, ./images/testimonials7-480@2x.png 2x"
          src="./images/testimonials7-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Mike, Denver</h3>
      </article>
    </div>
    <div class="swiper-slide swiper__slide8">
      <article class="customer swiper-slide swiper__slide8">
        <img
          class="customer__foto"
          srcset="./images/testimonials8-480.png 1x, ./images/testimonials8-480@2x.png 2x"
          src="./images/testimonials8-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Gary, El Paso</h3>
      </article>
    </div>
    <div class="swiper-slide swiper__slide9">
      <article class="customer swiper-slide swiper__slide9">
        <img
          class="customer__foto"
          srcset="./images/testimonials9-480.png 1x, ./images/testimonials9-480@2x.png 2x"
          src="./images/testimonials9-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Tad, Boston</h3>
      </article>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</section>
