<section class="swiper reviews__slider">
  <h2 class="visually__hidden">Customer Reviews</h2>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide swiper__slide1">
      <article class="customer swiper-slide swiper__slide1">
        <img
          class="customer__foto"
          srcset="./images/testimonials1-480.png 1x, ./images/testimonials1-480@2x.png 2x"
          src="./images/testimonials1-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Emily, Los Angeles</h3>
      </article>
    </div>
    <div class="swiper-slide swiper__slide2">
      <article class="customer swiper-slide swiper__slide2">
        <img
          class="customer__foto"
          srcset="./images/testimonials2-480.png 1x, ./images/testimonials2-480@2x.png 2x"
          src="./images/testimonials2-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Rachel, San Diego</h3>
        <!-- <ul class="marker__list list">
          <li class="marker__item">
            <a href="" class="marker__link link">
              <svg class="marker__icon">
                <use href="./images/symbol-defs.svg#icon-Vector"></use>
              </svg>
            </a>
          </li>
          <li class="marker__item">
            <a href="" class="marker__link link">
              <svg class="marker__icon">
                <use href="./images/symbol-defs.svg#icon-Ellipse-7"></use>
              </svg>
            </a>
          </li>
          <li class="marker__item">
            <a href="" class="marker__link link">
              <svg class="marker__icon">
                <use href="./images/symbol-defs.svg#icon-Ellipse-7"></use>
              </svg>
            </a>
          </li>
        </ul> -->
      </article>
    </div>
    <div class="swiper-slide swiper__slide3">
      <article class="customer swiper-slide swiper__slide3">
        <img
          class="customer__foto"
          srcset="./images/testimonials3-480.png 1x, ./images/testimonials3-480@2x.png 2x"
          src="./images/testimonials3-480.png"
          alt="Emily"
        />
        <div class="customer__bactext">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="customer__address">Monica, New York</h3>
        <!-- <ul class="marker__list list">
          <li class="marker__item">
            <a href="" class="marker__link link">
              <svg class="marker__icon">
                <use href="./images/symbol-defs.svg#icon-Vector"></use>
              </svg>
            </a>
          </li>
          <li class="marker__item">
            <a href="" class="marker__link link">
              <svg class="marker__icon">
                <use href="./images/symbol-defs.svg#icon-Ellipse-7"></use>
              </svg>
            </a>
          </li>
          <li class="marker__item">
            <a href="" class="marker__link link">
              <svg class="marker__icon">
                <use href="./images/symbol-defs.svg#icon-Ellipse-7"></use>
              </svg>
            </a>
          </li>
        </ul> -->
      </article>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</section>
