<!-- <section class="gallery">
  <div class="gallery__container">
    <h2 class="visually__hidden">Gallery</h2>
    <picture>
      <source
        srcset="/images/gallery-480.jpg 1x, /images/gallery-480@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img src="/images/gallery-480.jpg" alt="Set of ice-cream photos" width="320px" />
    </picture>
  </div>
</section> -->

<section class="gallery">
  <div class="gallery__container">
    <h2 class="visually__hidden">Gallery</h2>
    <ul class="gallery__grid">
      <li class="gallery__grid-item gallery__grid-item_1">
        <picture>
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="/images/gallery-img-4-1280.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_2">
        <picture>
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="/images/gallery-img-4-1280.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_3">
        <picture>
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="/images/gallery-img-4-1280.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_4">
        <picture>
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="/images/gallery-img-4-1280.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_5">
        <picture>
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="/images/gallery-img-4-1280.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_6">
        <picture>
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="/images/gallery-img-4-1280.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_7">
        <picture>
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="/images/gallery-img-4-1280.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_8">
        <picture>
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="/images/gallery-img-4-1280.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_9">
        <picture>
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="/images/gallery-img-4-1280.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_10">
        <picture>
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="/images/gallery-img-4-1280.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
    </ul>
  </div>
</section>
