<!-- <section class="gallery">
  <div class="gallery__container">
    <h2 class="visually__hidden">Gallery</h2>
    <picture>
      <source
        srcset="/images/gallery-480.jpg 1x, /images/gallery-480@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img src="/images/gallery-480.jpg" alt="Set of ice-cream photos" width="320px" />
    </picture>
  </div>
</section> -->

<section class="gallery">
  <div class="gallery__container">
    <h2 class="visually__hidden">Gallery</h2>
    <ul class="gallery__grid">
      <li class="gallery__grid-item gallery__grid-item_1">
        <picture>
          <source
            srcset="/images/gallery-img-1-480.jpg 1x, /images/gallery-img-1-480@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/images/gallery-img-1-768.jpg 1x, /images/gallery-img-1-768@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/images/gallery-img-1-1280.jpg 1x, /images/gallery-img-1-1280@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img src="/images/gallery-img-1-480.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_2">
        <picture>
          <source
            srcset="/images/gallery-img-2-480.jpg 1x, /images/gallery-img-2-480@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/images/gallery-img-2-768.jpg 1x, /images/gallery-img-2-768@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/images/gallery-img-2-1280.jpg 1x, /images/gallery-img-2-1280@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img src="/images/gallery-img-2-480.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_3">
        <picture>
          <source
            srcset="/images/gallery-img-3-480.jpg 1x, /images/gallery-img-3-480@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/images/gallery-img-3-768.jpg 1x, /images/gallery-img-3-768@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/images/gallery-img-3-1280.jpg 1x, /images/gallery-img-3-1280@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img src="/images/gallery-img-3-480.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_4">
        <picture>
          <source
            srcset="/images/gallery-img-4-480.jpg 1x, /images/gallery-img-4-480@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/images/gallery-img-4-768.jpg 1x, /images/gallery-img-4-768@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/images/gallery-img-4-1280.jpg 1x, /images/gallery-img-4-1280@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img src="/images/gallery-img-4-480.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_5">
        <picture>
          <source
            srcset="/images/gallery-img-5-480.jpg 1x, /images/gallery-img-5-480@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/images/gallery-img-5-768.jpg 1x, /images/gallery-img-5-768@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/images/gallery-img-5-1280.jpg 1x, /images/gallery-img-5-1280@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img src="/images/gallery-img-5-480.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_6">
        <picture>
          <source
            srcset="/images/gallery-img-6-480.jpg 1x, /images/gallery-img-6-480@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/images/gallery-img-6-768.jpg 1x, /images/gallery-img-6-768@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/images/gallery-img-6-1280.jpg 1x, /images/gallery-img-6-1280@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img src="/images/gallery-img-6-480.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_7">
        <picture>
          <source
            srcset="/images/gallery-img-7-480.jpg 1x, /images/gallery-img-7-480@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/images/gallery-img-7-768.jpg 1x, /images/gallery-img-7-768@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/images/gallery-img-7-1280.jpg 1x, /images/gallery-img-7-1280@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img src="/images/gallery-img-7-480.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_8">
        <picture>
          <source
            srcset="/images/gallery-img-8-480.jpg 1x, /images/gallery-img-8-480@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/images/gallery-img-8-768.jpg 1x, /images/gallery-img-8-768@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/images/gallery-img-8-1280.jpg 1x, /images/gallery-img-8-1280@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img src="/images/gallery-img-8-480.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_9">
        <picture>
          <source
            srcset="/images/gallery-img-9-480.jpg 1x, /images/gallery-img-9-480@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/images/gallery-img-9-768.jpg 1x, /images/gallery-img-9-768@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/images/gallery-img-9-1280.jpg 1x, /images/gallery-img-9-1280@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img src="/images/gallery-img-9-480.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
      <li class="gallery__grid-item gallery__grid-item_10">
        <picture>
          <source
            srcset="/images/gallery-img-10-480.jpg 1x, /images/gallery-img-10-480@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="/images/gallery-img-10-768.jpg 1x, /images/gallery-img-10-768@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/images/gallery-img-10-1280.jpg 1x, /images/gallery-img-10-1280@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <img src="/images/gallery-img-10-480.jpg" alt="ice-cream photo" class="gallery__img" />
        </picture>
      </li>
    </ul>
  </div>
</section>
