<!-- <section class="gallery">
  <div class="gallery__container">
    <h2 class="visually__hidden">Gallery</h2>
    <picture>
      <source
        srcset="/images/gallery-480.jpg 1x, /images/gallery-480@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img src="/images/gallery-480.jpg" alt="Set of ice-cream photos" width="320px" />
    </picture>
  </div>
</section> -->

<section class="gallery">
  <div class="gallery__container">
    <h2 class="visually__hidden">Gallery</h2>
    <p><button class="stamp-button">Toggle stamp</button></p>
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 14% }'>
      <div class="stamp stamp1"></div>
      <div class="stamp stamp2"></div>
      <div class="grid-item grid-item--height2">
        <img
          src="/images/gallery-img-4-1280.jpg"
          alt="Set of ice-cream photos"
          width="40px"
          height="40px"
        />
      </div>
      <div class="grid-item grid-item--height3">
        <img
          src="/images/gallery-img-4-1280.jpg"
          alt="Set of ice-cream photos"
          width="40px"
          height="40px"
        />
      </div>
      <div class="grid-item grid-item--width2 grid-item--height4">
        <img
          src="/images/gallery-img-4-1280.jpg"
          alt="Set of ice-cream photos"
          width="80px"
          height="80px"
        />
      </div>
      <div class="grid-item persent-size">
        <img
          src="/images/gallery-img-4-1280.jpg"
          alt="Set of ice-cream photos"
          width="40px"
          height="40px"
        />
      </div>
      <div class="grid-item persent-size">
        <img
          src="/images/gallery-img-4-1280.jpg"
          alt="Set of ice-cream photos"
          width="40px"
          height="40px"
        />
      </div>
      <div class="grid-item persent-size">
        <img
          src="/images/gallery-img-4-1280.jpg"
          alt="Set of ice-cream photos"
          width="40px"
          height="40px"
        />
      </div>
      <div class="grid-item grid-item--height3">
        <img
          src="/images/gallery-img-4-1280.jpg"
          alt="Set of ice-cream photos"
          width="40px"
          height="40px"
        />
      </div>
      <div class="grid-item persent-size">
        <img
          src="/images/gallery-img-4-1280.jpg"
          alt="Set of ice-cream photos"
          width="40px"
          height="40px"
        />
      </div>
      <div class="grid-item persent-size">
        <img
          src="/images/gallery-img-4-1280.jpg"
          alt="Set of ice-cream photos"
          width="40x"
          height="40px"
        />
      </div>
      <div class="grid-item persent-size">
        <img
          src="/images/gallery-img-4-1280.jpg"
          alt="Set of ice-cream photos"
          width="40px"
          height="40px"
        />
      </div>
    </div>
  </div>
</section>
