<header class=" hero-header container">
   <nav class="hero-header__nav">
      <a href="#" class="logo"><img src="/images/logo.png" alt="Логотип"></a>
      <img class="menu--open" src="/images/menu-open.svg" alt="Бургер меню">
   </nav>
   <div class="circle">
      <img class="ice-cream__img" src="/images/ice-cream.png" alt="ice-cream">
   </div>
   <div class="hero__block">
      <h1 class="header-title"><span class="header-title__text">ice cream<br> made with</span> passion</h1>
      <ul class="button-hero__list">
         <li class="button-hero__item"><a href="#" class="button-hero__link">Products</a></li>
         <li class="button-hero__item"><a href="#" class="button-hero__link">How it’s made?</a></li>
      </ul>
   </div>
</header>