<header class="hero-header">
   <div class="hero-header__container container">
      <a href="#" class="logo"><img src="./images/logo.png" alt="Логотип"></a>
      <button class="button-menu menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
         <svg class="icon-burger">
            <use href="./images/icons.svg#icon-burger"></use>
         </svg>
      </button>
      <div class="circle">
      </div>
      <picture>
         <source srcset="./images/hero-ice-cream-480.png 1x, ./images/hero-ice-cream-480@2x.png 2x"
            media="(max-width: 767px)">
         <img class="ice-cream__img" src="./images/ice-cream.png" alt="ice-cream">
      </picture>
      <div class="hero-block">
         <h1 class="hero-title"><span class="hero-title__text">ice cream<br> made with</span> passion</h1>
         <ul class="hero-button__list">
            <li class="hero-button__item"><a href="#" class="hero-button__link">Products</a></li>
            <li class="hero-button__item"><a href="#" class="hero-button__link">How it’s made?</a></li>
         </ul>
      </div>
   </div>
   </section>
</header>