<div class="mobile-menu js-menu-container" id="mobile-menu">
   <button type="button" class="nav__button js-close-menu">
      <svg class="nav__icon" width="40px" height="40px" aria-label="переключатель мобильного меню">
         <use href="./images/icons.sg#iclose" class="nav__button--cross"></use>
      </svg>
   </button>
   <div class="mobile__position mobile-menu__list">

      <div class="mobile-menu__item"> <a href="" class="link mobile-menu__link mobile-menu__link--curent">Студия</a>
      </div>
      <div class="mobile-menu__item"><a href="./portfolio.html" class="link mobile-menu__link">Портфолио</a></div>
      <div class="mobile-menu__item"><a href="" class="link mobile-menu__link">Контакты</a></div>
   </div>
   <div class="mobile__position">
      <ul class="mobile-contacts__list list">
         <li class="mobile-contacts__item"> <a href="tel:+380961111111"
               class="link mobile-contacts__link mobile-contacts__link--tel">+38 096 111 11 11</a></li>
         <li class="mobile-contacts__item"><a href="mailto:info@devstudio.com"
               class="link mobile-contacts__link">info@devstudio.com </a></li>
      </ul>
   </div>
</div>