<div class="mobile-menu js-menu-container" id="mobile-menu">
   <button type="button" class="mobile__button js-close-menu">
      <svg class="mobile__icon" width="14px" height="14px" aria-label="переключатель мобильного меню">
         <use href="./images/icons.svg#iclose" class="mobile__button--cross"></use>
      </svg>
   </button>
   <button type="button" class="menu-btn__item mobile__btn" data-modal-mobile-open>Buy now
      <svg width="6" height="8" class="menu-btn__svg">
         <use href="./images/icons.svg#ivector" class=""></use>
      </svg>
   </button>
   <ul class="mobile__position mobile-menu__list list">
      <li class="mobile-menu__item"><a href="#" class="link mobile-menu__link mobile-menu__link--curent">Home</a></li>
      <li class="mobile-menu__item"><a href="#howmade" class="link mobile-menu__link" onclick="location.reload();">About
            us</a></li>
      <li class="mobile-menu__item"><a href="#about" class="link mobile-menu__link" onclick="location.reload();">How
            it’s made?</a></li>
      <li class="mobile-menu__item"><a href="#products" class="link mobile-menu__link" onclick="location.reload();">Our
            products</a></li>
      <li class="mobile-menu__item"><a href="#contacts" class="link mobile-menu__link"
            onclick="location.reload();">Contact</a></li>
   </ul>

</div>