<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn" type="button" data-modal-close>
            <svg class="modal__icon--close">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__title">Оставьте свои данные, мы вам перезвоним</p>
        <form class="modal__form">
            <label class="modal__label">Имя
                <input class="modal__input" type="text" autocomplete="off" required>
                <svg class="modal__icon">
                    <use href="./images/symbol-defs.svg#icon-person-black"></use>
                </svg>
            </label>
            <label class="modal__label">Телефон
                <input class="modal__input" type="tel" autocomplete="off" required>
                <svg class="modal__icon">
                    <use href="./images/symbol-defs.svg#icon-phone-black"></use>
                </svg>
            </label>
            <label class="modal__label">Почта
                <input class="modal__input" type="email" autocomplete="off" required>
                <svg class="modal__icon">
                    <use href="./images/symbol-defs.svg#icon-email-black"></use>
                </svg>
            </label>
            <div class="textarea__container">
                <label class="modal__label">Комментарий
                    <textarea name="comment" placeholder="Введите текст" class="textarea"></textarea>
                </label>
            </div>
            <label class="checkbox__label">
                <input class="checkbox visually-hidden" type="checkbox" required>
                <span class="checkbox__icon"></span>
                Соглашаюсь с рассылкой и принимаю
                <a class="checkbox__link" href="#">Условия договора</a>
            </label>
            <button class="modal__button--submit" type="submit">Отправить</button>
        </form>
    </div>
</div>