.about-advantages {
  background-color: $accent-bg-color;
  padding-bottom: 97px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 140px;
  }
}

.advantages {
  @media screen and (min-width: $tablet) {
    display: flex;
    padding-left: 2px;
  }
}

.advantages__list {
  text-align: left;
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}

.advantages__itan {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $dark-accent-color;
  @media screen and (min-width: $tablet) {
    font-size: 36px;
    line-height: 1.15;
    margin-bottom: 13px;
  }
}

.advanteges__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  overflow-wrap: break-word;
  max-width: 230px;
  color: $primary-dark-text-color;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.74;
  }
}

.advantages__icon-721::before {
  content: '';
  width: 33px;
  height: 50px;
  display: flex;
  background-size: cover;
  margin-bottom: 16px;
  background-image: url(/images/icon-bucket-of-milk-480.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/icon-bucket-of-milk-480@2x.png);
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 36px;
  }
}

.advantages__icon-16kg::before {
  content: '';
  width: 50px;
  height: 50px;
  display: flex;
  background-size: cover;
  margin-bottom: 16px;
  background-image: url(/images/icon-buсket-of-apples-480.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/icon-buсket-of-apples-480@2x.png);
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 36px;
  }
}

.advantages__icon-84::before {
  content: '';
  width: 44px;
  height: 50px;
  display: flex;
  background-size: cover;
  margin-bottom: 16px;
  background-image: url(/images/icon-ice-cream-480.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/icon-ice-cream-480@2x.png);
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 36px;
  }
}
