.contacts-section {
  background-color: #fff5f6;
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(to bottom, #ffffff 5%, #ffffff 0, #fff5f6 0, #fff5f6 0);
  @media screen and(min-width:768px) {
    background-image: linear-gradient(
      to bottom,
      #ffffff 13%,
      #ffffff 13%,
      #fff5f6 13%,
      #fff5f6 13%
    );
  }
  @media screen and(min-width:1280px) {
    background-image: url('../images/section-contacts-bg-1280-min.png'),
      linear-gradient(to bottom, #ffffff 15%, #ffffff 15%, #fff5f6 15%, #fff5f6 15%);
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/section-contacts-bg-1280@2x-min.png'),
        linear-gradient(to bottom, #ffffff 15%, #ffffff 15%, #fff5f6 15%, #fff5f6 15%);
    }
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 54px;

  @media screen and(min-width:768px) {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 81px;
  }
  @media screen and(min-width: 1280px) {
    height: 100%;
    margin-bottom: 86px;
  }
}
.contacts-item {
  width: 220px;
  background-color: $primary-light-text-color;
  border-radius: 24px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  @media screen and(max-width: 1279px) {
    &:last-child {
      margin-bottom: 0;
    }

    @media screen and(min-width: 768px) {
      flex-basis: calc(100% / 3 - 20px);
      margin: 10px;
    }
  }
  @media screen and(min-width:1280px) {
    width: 330px;
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

.contacts-box {
  padding: 43px 21px 43px 20px;
  @media screen and(min-width: 768px) {
    padding: 50px 31px 50px 32px;
  }
  @media screen and(min-width: 1280px) {
    padding: 51px 43px 62px 44px;
  }
}
.contacts-item__title {
  @include font(DM Sans, 12px, 500, 1.86, 0.04em, $primary-light-text-color);
  text-align: center;
  background-color: $first-additional-accent-color;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  width: 80px;
  height: 16px;
  @media screen and(min-width: 768px) {
    @include font(DM Sans, 16px, 500, 1.86, 0.04em, $primary-light-text-color);
    margin-bottom: 30px;
    border-radius: 6px;
    width: 73px;
    height: 28px;
  }
}
.contacts-item_name-box {
  padding-bottom: 25px;
  @media screen and(min-width: 768px) {
    padding-bottom: 30px;
  }
  @media screen and(min-width: 1280px) {
    padding-bottom: 32px;
  }
}
.contacts-item__title_green {
  background-color: $second-additional-accent-color;
  width: 130px;
  height: 16px;
  @media screen and(min-width: 768px) {
    width: 138px;
    height: 28px;
  }
}

.contacts-item__city {
  @include font(DM Sans, 12px, 500, 1.86, 0.04em, $primary-dark-text-color);
  margin-bottom: 10px;
  @media screen and(min-width: 768px) {
    @include font(DM Sans, 14px, 500, 1.86, 0.04em, $primary-dark-text-color);
    margin-bottom: 14px;
  }
  @media screen and(min-width: 1280px) {
    @include font(DM Sans, 16px, 500, 1.86, 0.04em, $primary-dark-text-color);
    margin-bottom: 10px;
  }
}
.contacts-item__text {
  @include font(DM Sans, 12px, 500, 1.5, null, $secondary-dark-text-color);
  // margin-bottom: 25px;
  @media screen and(min-width: 768px) {
    @include font(DM Sans, 14px, 500, 1.66, null, $secondary-dark-text-color);
    // margin-bottom: 30px;
  }
  @media screen and(min-width: 1280px) {
    @include font(DM Sans, 16px, 500, 1.83, null, $secondary-dark-text-color);
    // margin-bottom: 32px;
  }
}

.contacts-timetable {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  // margin-bottom: 25px;
  @media screen and(min-width: 768px) {
    padding: 30px 0;
  }
  @media screen and(min-width: 1280px) {
    padding: 32px 0;
    // margin-bottom: 32px;
  }
}
.contacts-timetable__days {
  @include font(DM Sans, 12px, 500, 1.86, 0.04em, $primary-dark-text-color);
  @media screen and(min-width: 768px) {
    @include font(DM Sans, 14px, 500, 1.86, 0.04em, $primary-dark-text-color);
  }
  @media screen and(min-width: 1280px) {
    @include font(DM Sans, 16px, 500, 1.86, 0.04em, $primary-dark-text-color);
  }
}

.contacts-timetable__time {
  @include font(DM Sans, 12px, 500, 1.86, null, $light-accent-color);
  @media screen and(min-width: 768px) {
    @include font(DM Sans, 14px, 500, 1.86, null, $light-accent-color);
  }
  @media screen and(min-width: 1280px) {
    @include font(DM Sans, 16px, 500, 1.86, null, $light-accent-color);
  }
}

.working-days:not(:last-child) {
  margin-bottom: 10px;
  @media screen and(min-width: 768px) {
    margin-bottom: 16px;
  }
  @media screen and(min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.contacts-list {
  padding-top: 25px;
  @media screen and(min-width: 768px) {
    padding-top: 30px;
  }
  @media screen and(min-width: 1280px) {
    padding-top: 32px;
  }
}

.contacts__link {
  @include font(DM Sans, 12px, 500, 1.5, null, $secondary-dark-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $light-accent-color;
  }
  @media screen and(min-width: 768px) {
    @include font(DM Sans, 14px, 500, 1.83, null, $secondary-dark-text-color);
  }
  @media screen and(min-width: 1280px) {
    @include font(DM Sans, 16px, 500, 1.83, null, $secondary-dark-text-color);
  }
}

.contacts-btn {
  margin: 0 auto;
  @media screen and(min-width: 768px) {
    @include flex(flex, center, center, null, null);
  }
}
.contacts-btn__item {
  @include flex(flex, center, center, column, wrap);
  text-align: center;
  margin-bottom: 10px;
  @media screen and(max-width: 767px) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.contacts-btn__item_red {
  @include font(DM Sans, 16px, 700, 1.3, 0.04em, $primary-light-text-color);
  @include flex(flex, center, center, null, null);
  padding: 12px 17px;
  background-color: $secondary-dark-accent-color;
  border-radius: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $dark-hover-color;
  }
  align-items: center;
  text-align: center;
  width: 162px;
  @media screen and(min-width: 768px) {
    margin-right: 15px;
    padding: 12px 30px;
    width: 191px;
  }
  @media screen and(min-width: 1280px) {
    margin-right: 15px;
    padding: 12px 35px;
    width: 198px;
  }
}

.contacts-btn__item_white {
  @include font(DM Sans, 16px, 700, 1.3, 0.04em, $dark-accent-color);
  @include flex(flex, center, center, null, null);
  padding: 10px 17px;
  background-color: $primary-light-text-color;
  border-radius: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $light-hover-color;
  }
  width: 161px;
  align-items: center;
  text-align: center;
  @media screen and(min-width: 768px) {
    padding: 12px 30px;
    width: 174px;
  }
  @media screen and(min-width: 1280px) {
    padding: 12px 39px;
    width: 180px;
  }
}
.contacts-btn__icon_red {
  fill: $primary-light-text-color;
  margin-left: 8px;
}

.contacts-btn__icon_white {
  fill: $dark-accent-color;
  margin-left: 13px;
}
.btn {
  cursor: pointer;
  border: none;
}

/* // Модалка */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  @include flex(flex, center, center, null, null);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    .contacts-modal {
      transform: scale(2) rotate(360deg);
      background-color: $light-accent-color;
    }
  }
}
.backdrop-contacts {
  z-index: 20;
}
.contacts-modal {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: $light-bg-color;
  padding: 40px 30px;
  border-radius: 24px;
  background-image: url('../images/milk-bg-480.png'),
    linear-gradient(to bottom, #ffffff 9%, #ffffff 9%, #fff5f6 9%, #fff5f6 9%);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  transform: scale(1) rotate(-360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width:768px) {
    width: 450px;
  }
  @media screen and(min-width:768px) {
    background-image: url('../images/milk-bg-480.png'),
      linear-gradient(to bottom, #ffffff 9%, #ffffff 9%, #fff5f6 9%, #fff5f6 9%);
    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/milk-bg-480@2x.png'),
        linear-gradient(to bottom, #ffffff 9%, #ffffff 9%, #fff5f6 9%, #fff5f6 9%);
    }
  }
}

.modal__btn-close {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  background-color: $primary-light-text-color;

  border: none;
  width: 25px;
  height: 25px;
  top: 5px;
  right: 15px;
  position: absolute;
  border-radius: 25px;
  padding: 0;
  fill: $icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover,
.modal__btn-close:focus {
  background-color: $icon-color;
  fill: $dark-accent-color;
}
.contacts-modal__text {
  color: $secondary-dark-text-color;
  font-family: DM Sans;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 25px;

  @media screen and(min-width:768px) {
    font-size: 18px;
    margin-bottom: 35px;
  }
}
.contacts-form {
  margin-bottom: 20px;
}

.contacts-form__div:not(:last-child) {
  margin-bottom: 10px;
  @media screen and(min-width: 768px) {
    margin-bottom: 16px;
  }
}

.contacts-input {
  @include font(DM Sans, 12px, null, null, null, null);
  padding-left: 5px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 25px;
  width: 230px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: $dark-accent-color;
  }

  @media screen and(min-width:768px) {
    width: 370px;
    height: 35px;
    font-size: 16px;
  }
}

.modal__btn-submit {
  @include font(DM Sans, 16px, null, null, null, null);
  position: absolute;
  cursor: pointer;

  text-align: center;
  background-color: $light-accent-color;
  color: $primary-light-text-color;
  border: none;
  width: 70px;
  height: 25px;

  bottom: 10%;
  border-radius: 4px;
  padding: 0;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width: 768px) {
    width: 90px;
    height: 35px;
    font-size: 18px;
  }
}
.contacts__milk {
  position: absolute;
  bottom: -10px;
  right: -27px;
  width: 150px;
  height: 160px;
}
