.customer {
  @include section(40px, 128px);
  background-color: $light-bg-color;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $mobile;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet) {
    @include section(62px, 166px);
    padding-left: 74px;
    padding-right: 74px;
    max-width: $tablet;
  }

  @media screen and (min-width: $desctop) {
    @include section(62px, 179px);
    padding-left: 74px;
    padding-right: 74px;
    max-width: $desctop;
  }
}

.customer__foto {
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: $desctop) {
    margin-bottom: 15px;
  }
}
.customer__bactext {
  background-color: #fafafa;
  min-width: 280px;
  padding-left: 57px;
  padding-right: 66px;
  padding-top: 43px;
  padding-bottom: 20px;
  margin-bottom: 52px;

  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet) {
    min-width: 620px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 47px;
    padding-bottom: 34px;
    margin-bottom: 42px;
  }
  @media screen and (min-width: $desctop) {
    min-width: 926px;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 47px;
    padding-bottom: 39px;
    margin-bottom: 34px;
  }
}
.customer__text {
  position: relative;
  text-align: center;
  align-items: center;
  z-index: 1;
  @include font(DM Sans, 12px, 500, 2.55, 0.03em, $primary-dark-text-color);
  background-image: repeating-linear-gradient(180deg, transparent, transparent 29px, #e1e1e1 30px);
  @media screen and (min-width: $tablet) {
    @include font(DM Sans, 14px, 500, 2.16, 0.04em, $primary-dark-text-color);
    background-image: repeating-linear-gradient(
      180deg,
      transparent,
      transparent 28px,
      #e1e1e1 29px
    );
  }
  @media screen and (min-width: $desctop) {
    @include font(DM Sans, 16px, 500, 1.86, 0.04em, $primary-dark-text-color);
    background-image: repeating-linear-gradient(
      180deg,
      transparent,
      transparent 26px,
      #e1e1e1 27px
    );
  }

  &::after {
    position: absolute;
    content: '\2022\2003\2022\2003\2022';
    color: $dark-hover-color;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 56px);
  }
  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 54px;
    height: 48px;
    background-repeat: no-repeat;
    background-image: url(/images/qooter.svg);
    transform: translate(-50%, -30%);
    z-index: -1;
  }
}

.customer__address {
  @include font(DM Sans, 14px, 500, 1.86, 0.04em, $primary-dark-text-color);
  @media screen and (min-width: $tablet) {
    @include font(DM Sans, 16px, 500, 2.16, 0.04em, $primary-dark-text-color);
  }
  @media screen and (min-width: $desctop) {
    @include font(DM Sans, 20px, 500, 1.86, 0.04em, $primary-dark-text-color);
  }
}

// .swiper {
//   width: 600px;
//   height: 300px;
// }

.swiper-pagination {
  position: absolute;
  top: 85%;
  @media screen and (min-width: $tablet) {
    top: 77%;
  }
  @media screen and (min-width: $desctop) {
    top: 75%;
  }
}

.swiper-pagination-bullet-active {
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-image: url(/images/Vector.svg);
  width: 13px;
  height: 13px;
  z-index: 25;
  background-color: #fff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-pagination-bullets {
  margin-right: 18px;
}
