.gallery {
  background-image: linear-gradient(to bottom, $accent-bg-color 39%, $light-bg-color 39%);
}

.gallery__container {
  padding-left: 20px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.gallery__grid {
  display: inline-grid;
  grid-template-columns: 40px, 40px, 40px, 40px, 40px, 40px, 40px;
  grid-template-rows: 15px, 10px, 15px, 15px, 10px, 15px, 15px, 15px;
}

// .gallery__grid-item_1 {
//   grid-row-start: 3;
//   grid-row-end: 6;
// }

// .gallery__grid-item_2 {
//   grid-row-start: 2;
//   grid-row-end: 5;
// }

// .grid {
//   position: relative;
//   max-width: 290px;
//   max-height: 122px;
//   margin-left: auto;
//   margin-right: auto;
// }

// /* clearfix */
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }

// .grid-item {
//   width: 14%;
//   height: 40px;
//   float: left;
//   background: #d26;
//   border: 2px solid #333;
//   border-color: hsla(0, 0%, 0%, 0.5);
//   border-radius: 5px;
// }

// .grid-item--width2 {
//   width: 28%;
// }

// .grid-item--height4 {
//   height: 80px;
// }

// .stamp {
//   position: absolute;
//   background: orange;
//   border: 4px dotted black;
// }
// .stamp1 {
//   left: 0;
//   top: 0;
//   width: 40px;
//   height: 40px;
// }
// .stamp2 {
//   left: 42px;
//   top: 0;
//   width: 40px;
//   height: 20px;
// }

// .stamp4 {
//   left: 84px;
//   top: 0;
//   width: 40px;
//   height: 20px;
// }

// .stamp3 {
//   left: 42px;
//   top: 0;
//   width: 40px;
//   height: 20px;
// }
