.hero-header {
  background-color: $hero-bg-color;
  overflow: hidden;
}

.header {
  @media screen and (max-width: 767px) {
    position: relative;
    padding-top: 6px;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    z-index: 3;
    display: flex;
    padding-top: 37px;
  }
}

.header-btn__list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.button-menu {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 22px;
    right: 0;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
}

.header-btn {
  width: 160px;
  height: 44px;

  @include font(DM Sans, 16px, 700, 1.3, 0.04em, $dark-accent-color);
  background-color: $primary-light-text-color;
  border-radius: 22px;
  align-items: center;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $light-hover-color;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.logo {
  display: inline-block;
}

.icon-burger {
  width: 20px;
  height: 12px;
}

.hero {
  position: relative;
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    height: 308px;
  }
}

.circle {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  position: absolute;
  top: 27px;
  right: -83px;
  z-index: 1;
  background: $light-accent-color;
  animation: fadein 2s;

  @media screen and (min-width: $tablet) {
    top: -60px;
    right: 103px;
  }
}

.ice-cream__img {
  position: absolute;
  z-index: 2;
  top: 9px;
  left: 81px;

  animation: up 2s;
  // animation-name: left-right;
  // animation-duration: 3s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;

  @media screen and (min-width: $tablet) {
    top: 32px;
    left: 71px;
  }
}

.hero-block {
  position: relative;
  z-index: 3;
  padding-top: 137px;
  padding-bottom: 160px;
  width: 218px;
  animation: opacity 3s;

  @media screen and (min-width: $tablet) {
    top: 15px;
    width: 162px;
  }
}

.hero__title {
  @include font(Titan One, 48px, 400, 1, 0.04em, $dark-accent-color);
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 34px;
    line-height: 1;
  }
}

.hero-title__text {
  display: inline-block;
  @include font(Titan One, 26px, 400, 1.15, 0.04em, $primary-light-text-color);

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 1.13;
  }
}

.hero-button__list {
  display: flex;
  margin-top: 20px;
  list-style: none;
}

.hero-button__item {
  font-size: 8px;
  line-height: 1.28;
  margin-right: 8px;
  border-radius: 15px;

  @include transition(null, null, background-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  &:first-child {
    width: 62px;
    height: 24px;
    background-color: $secondary-dark-accent-color;
    color: $primary-light-text-color;

    &:hover,
    &:focus {
      background-color: $dark-hover-color;
    }
  }

  &:last-child {
    margin-right: 0;
    width: 83px;
    height: 24px;
    color: $secondary-dark-accent-color;
    background-color: $light-bg-color;
  }
  &:hover,
  &:focus {
    background-color: $light-hover-color;
  }
}

.hero-button__link {
  width: 100%;
  height: 100%;
  @include flex(flex, center, center, null, null);
  color: inherit;
  text-decoration: none;
}

.milk-card {
  width: 238px;
  margin-top: 19px;
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.milk-meta {
  display: flex;
  flex-direction: column;
  margin-top: 47px;
}

.milk-card__text {
  @include font(DM Sans, 8px, 400, 1.5, null, $primary-light-text-color);
}

.milk-card__btn {
  margin-top: 9px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url(/images/hero-arrow-right.png);
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/hero-arrow-right@2x.png);
  }
}

.data__list {
  position: absolute;
  top: 0;
  right: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.data-first__item,
.data-second__item {
  position: relative;
}

.data-first__item {
  margin-top: 12px;

  & .data-item__number {
    text-align: center;
  }
}

.data-second__item {
  margin-top: 13px;
  width: 51px;
  height: 43px;

  & .data-item__number {
    text-align: center;
  }

  & .data-item__text {
    text-align: start;
  }
}

.data-item__ellipse {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: $light-bg-color;
}
.data-item__number {
  text-align: center;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  text-align: start;
  @include font(Titan One, 28px, 400, 1.14, 0.04, $secondary-dark-accent-color);
}

.data-item__text {
  text-align: center;
  @include font(DM Sans, 8px, 400, 1.25, null, $primary-light-text-color);
}

.hero-galochka__img {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    transform-origin: 0 100%;
    transform: rotate(90deg);
    animation-name: galochka;
    animation-delay: 1300ms;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

////animate css

// @keyframes pulse {
//   0% {
//     transform: translateY(5px);
//   }
//   25% {
//     transform: translateX(5px);
//   }

//   50% {
//     transform: translateY(-5px);
//   }
//   75% {
//     transform: translateX(-5px);
//   }
//   100% {
//     transform: translateY(5px);
//   }
// }

// @keyframes left-right {
//   0% {
//     transform: rotate(0deg);
//   }

//   25% {
//     transform: rotate(2deg);
//   }

//   50% {
//     transform: rotate(-2deg);
//   }

//   75% {
//     transform: rotate(2deg);
//   }

//   100% {
//     transform: rotate(0deg);
//   }
// }

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes galochka {
  from {
    transform: rotate(87deg);
  }
  to {
    transform: rotate(0deg);
  }
}
