.hero-header {
  background-color: $hero-bg-color;
  overflow: hidden;
}

.header {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    z-index: 3;
    display: flex;
    padding-top: 37px;
  }

  @media screen and (min-width: $desctop) {
    display: flex;
    align-items: center;
  }
}

.hero-header-container {
  @media screen and (min-width: 1280px) {
    padding-left: 46px;
    padding-right: 46px;
    margin: 0 auto;
  }
}

.header-btn__list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.button-menu {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }

  @media screen and (min-width: $desctop) {
    display: none;
  }
}

.header-btn {
  width: 160px;
  height: 44px;

  @include font(DM Sans, 16px, 700, 1.3, 0.04em, $dark-accent-color);
  background-color: $primary-light-text-color;
  border-radius: 22px;
  align-items: center;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $light-hover-color;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 18px;
  }
}

.logo {
  display: inline-block;
}

.site-nav {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.site-nav__list {
  display: flex;
  @include font(DM Sans, 16px, 400, 1.31, null, $primary-light-text-color);
  margin-left: 110px;
}
.site-nav__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.site-nav__link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: inherit;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $dark-accent-color;
  }
}

.icon-burger {
  width: 20px;
  height: 12px;
}

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.circle {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 27px;
  right: -83px;
  background: $light-accent-color;
  animation: fadein 2s;

  @media screen and (min-width: $tablet) {
    width: 324px;
    height: 322px;
    top: -60px;
    right: 103px;
  }
  @media screen and (min-width: $desctop) {
    width: 538px;
    height: 538px;
    top: -36px;
    left: 416px;
  }
}

.ice-cream__img {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 81px;

  animation: up 2s;

  @media screen and (min-width: $tablet) {
    top: 38px;
    left: 71px;
  }

  @media screen and (min-width: $desctop) {
    top: 64px;
    left: 119px;
  }
}

.hero-block {
  position: relative;
  z-index: 3;
  animation: opacity 3s;

  @media screen and (max-width: 767px) {
    padding-top: 137px;
    padding-bottom: 160px;
    width: 218px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 15px;
    width: 162px;
  }

  @media screen and (min-width: $desctop) {
    padding-top: 84px;
    width: 277px;
  }
}

.hero-title__container {
  @media screen and (min-width: $desctop) {
    margin-left: 69px;
    width: 100%;
  }
}

.hero__title {
  @include font(Titan One, 48px, 400, 1, 0.04em, $dark-accent-color);
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 34px;
    line-height: 1;
  }
  @media screen and (min-width: $desctop) {
    @include font(null, 58px, null, 1, null, null);
  }
}

.hero-pre__title {
  display: inline-block;
  @include font(Titan One, 26px, 400, 1.15, 0.04em, $primary-light-text-color);

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 1.13;
  }

  @media screen and (min-width: $desctop) {
    @include font(null, 38px, null, 1.15, null, null);
  }
}

.hero-button__list {
  display: flex;
  margin-top: 20px;
  font-size: 8px;
  line-height: 1.28;
  list-style: none;

  @media screen and (min-width: $desctop) {
    margin-top: 25px;
  }
}

.hero-button__item {
  margin-right: 8px;

  @include transition(null, null, background-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  @media screen and (min-width: $desctop) {
  }
}

.hero-button__link {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  text-decoration: none;
  color: inherit;

  @include flex(flex, center, center, null, null);

  @media screen and (min-width: $desctop) {
    font-size: 14px;
  }
}

.hero-button__first--accent {
  width: 62px;
  height: 24px;
  background-color: $secondary-dark-accent-color;
  color: $primary-light-text-color;

  @media screen and (min-width: $desctop) {
    width: 104px;
    height: 40px;
  }

  &:hover,
  &:focus {
    background-color: $dark-hover-color;
  }
}

.hero-button__second--accent {
  margin-right: 0;
  width: 83px;
  height: 24px;
  color: $secondary-dark-accent-color;
  background-color: $light-bg-color;

  @media screen and (min-width: $desctop) {
    width: 138px;
    height: 40px;
  }

  &:hover,
  &:focus {
    background-color: $light-hover-color;
  }
}

.milk-card {
  padding-top: 19px;
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    padding-bottom: 28px;
  }

  @media screen and (min-width: $desctop) {
    padding-top: 56px;
    padding-bottom: 45px;
    margin-left: 31px;
  }
}

.milk-meta {
  display: flex;
  flex-direction: column;
  margin-top: 47px;

  @media screen and (min-width: $desctop) {
    justify-content: center;
    margin-left: 30px;
    @include font(null, 14px, null, 1.42, null, null);
  }
}

.milk-card__text {
  width: 114px;
  @include font(DM Sans, 8px, 400, 1.5, null, $primary-light-text-color);

  @media screen and (min-width: $desctop) {
    width: 200px;
    @include font(null, 14px, null, 1.42, null, null);
  }
}

.milk-card__btn {
  margin-top: 9px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url(/images/hero-arrow-right.png);
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/hero-arrow-right@2x.png);
  }

  @media screen and (min-width: $desctop) {
    width: 26px;
    height: 26px;
  }
}

.data__list {
  margin-top: 12px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $desctop) {
    margin-top: 74px;
  }
}

.data-first__item,
.data-second__item {
  position: relative;
}

.data-first__item {
  & .data-item__number {
    text-align: center;
  }
}

.data-second__item {
  margin-top: 13px;
  width: 51px;
  height: 43px;

  @media screen and (min-width: $desctop) {
    width: 92px;
    height: 76px;
  }

  & .data-item__number {
    text-align: center;
  }

  & .data-item__text {
    text-align: start;
  }
}

.data-item__number {
  text-align: center;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  text-align: start;
  @include font(Titan One, 28px, 400, 1.14, 0.04, $secondary-dark-accent-color);

  @media screen and (min-width: $desctop) {
    @include font(Titan One, 46px, 400, 1.15, null, null);
  }

  &::after {
    content: ' ';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 50%;
    background-color: $light-bg-color;

    @media screen and (min-width: $desctop) {
      width: 30px;
      height: 30px;
    }
  }
}

.data-item__text {
  text-align: center;
  @include font(DM Sans, 8px, 400, 1.25, null, $primary-light-text-color);

  @media screen and (min-width: $desctop) {
    @include font(DM Sans, 14px, 400, 1.28, null, null);
  }
}

.hero-galochka__img {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    transform-origin: 0 100%;
    transform: rotate(90deg);

    animation-name: galochka;
    animation-delay: 1300ms;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

////animate css

// @keyframes pulse {
//   0% {
//     transform: translateY(5px);
//   }
//   25% {
//     transform: translateX(5px);
//   }

//   50% {
//     transform: translateY(-5px);
//   }
//   75% {
//     transform: translateX(-5px);
//   }
//   100% {
//     transform: translateY(5px);
//   }
// }

// @keyframes left-right {
//   0% {
//     transform: rotate(0deg);
//   }

//   25% {
//     transform: rotate(2deg);
//   }

//   50% {
//     transform: rotate(-2deg);
//   }

//   75% {
//     transform: rotate(2deg);
//   }

//   100% {
//     transform: rotate(0deg);
//   }
// }

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes galochka {
  from {
    transform: rotate(87deg);
  }
  to {
    transform: rotate(0deg);
  }
}
